footer {
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 192rem;
  height: auto;
  padding: 6.5rem 20.8rem 6.4rem 20.8rem;
  background: #ffffff;
  border-top: 0.1rem solid #e5e5e5;
  margin-top: 8rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  width: 100%;
  max-width: 150.4rem;
  min-height: 21.6rem;
}

.footer-container > div {
  max-width: 35.2rem;
  width: 100%;
}

/* shared h3 styles */
.footer-container > div h3 {
  font-weight: 700;
  font-style: normal;
  color: #171717;
}

.footer-container .subscription {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.footer-container .subscription h3 {
  height: 2.8rem;
  font-size: 1.7rem;
  letter-spacing: 0.07rem;
  line-height: 2.8rem;
}

.footer-container .subscription p {
  width: 100%;
  height: 6.9rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.35rem;
  letter-spacing: 0.02rem;
  line-height: 2.275rem;
  color: #525252;
}

.footer-container .subscription div {
  width: 100%;
  max-width: 35.2rem;
  height: 4.72rem;
  padding: 0.4rem 0 0 0;
  display: flex;
}

.footer-container .subscription div input {
  width: 100%;
  height: 4.6rem;
  padding: 1.4rem 1.3rem 1.5rem 1.3rem;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  background: #ffffff;
  border: 0.1rem solid #d4d4d4;
}

.footer-container .subscription div input::placeholder {
  letter-spacing: 0.06rem;
}

.footer-container .subscription div div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 4.6rem;
  height: 4.6rem;
  padding: 1.3rem 1.6rem;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  background: #171717;
  cursor: pointer;
}
.footer-container .subscription div div:hover {
  background-color: #262626;
}

.footer-container .subscription div div img {
  width: 1.39rem;
  height: 1.2rem;
}

.footer-container .subscription span {
  width: 100%;
  max-width: 29.8rem;
  height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #737373;
  padding-top: 0.3rem;
}

.footer-links h3 {
  height: 2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #171717;
}

.footer-links nav ul {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-links nav ul li a {
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #525252;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  footer {
    max-width: 102.4rem;
    padding-left: 1.8rem;
  }
  .footer-container {
    gap: 3.2rem;
    max-width: 99.2rem;
  }
  .footer-container .subscription div {
    max-width: 21.2rem;
    padding: 0;
  }
  .footer-container .subscription {
    max-width: 22.4rem;
    gap: 4.2rem;
  }

  .footer-container .subscription h3 {
    height: 2.8rem;
    font-size: 1.7rem;
    letter-spacing: 0.07rem;
    line-height: 2.8rem;
  }

  .footer-container .subscription span {
    margin-top: -3.8rem;
  }
  .footer-container > div.footer-links {
    max-width: 22.4rem;
  }
}
@media screen and (max-width: 800px) {
  footer {
    max-width: 80rem;
    padding: 6.4rem 0 0 3rem;
  }
  .footer-container {
    gap: 3.2rem;
    max-width: 73.6rem;
    flex-wrap: wrap;
  }
  .footer-container .subscription {
    max-width: 73.6rem;
    height: 15.6rem;
    gap: 1.6rem;
  }
  .footer-container .subscription div {
    max-width: 73.6rem;
    padding: 0;
  }
  .footer-container .subscription p {
    height: 2.3rem;
    letter-spacing: 0.03rem;
  }
  .footer-container .subscription span {
    margin-top: -0.9rem;
  }
  .footer-container > div.footer-links {
    max-width: 35.2rem;
  }
  .footer-links {
    margin-top: 0.1rem;
  }
}
@media screen and (max-width: 450px) {
  footer {
    max-width: 45rem;
    padding: 6.5rem 0 4rem 1.5rem;
  }
  .footer-container {
    gap: 3.2rem;
    max-width: 42rem;
  }
  .footer-container .subscription {
    max-width: 73.6rem;
    height: 17.9rem;
    gap: 1.6rem;
  }
  .footer-container .subscription p {
    height: 4.6rem;
    letter-spacing: 0.01rem;
  }
  .footer-container .subscription span {
    height: 1.4;
  }
}
