.tote-gallery {
  width: 100%;
  max-width: 98.66rem;
  height: 102.55rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.gallery-header {
  width: 100%;
  max-width: 98.66rem;
  height: 73.9rem;
  overflow: hidden;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 25%);
  background: linear-gradient(154.906deg, #fafafa 0%, #f5f5f5 100%);
  border-radius: 1.6rem;
}
.gallery-header img {
  width: 100%;
  max-width: 98.66rem;
  max-height: 73.9rem;
  transform: scaleY(1.34);
}

.gallery-items {
  width: 100%;
  max-width: 98.6rem;
  height: 23.467rem;

  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.g-item {
  width: 100%;
  max-width: 23.467rem;
  height: 23.467rem;
  border-radius: 1.2rem;
  overflow: hidden;
  opacity: 0.7;
  background: linear-gradient(144.736deg, #fafafa 0%, #f5f5f5 100%);
}
.g-item:hover {
  box-shadow: 0px 0px 0px 2px #a3a3a3;
  opacity: 1;
}
.g-item:first-child {
  box-shadow: 0px 0px 0px 2px #171717;
  opacity: 1;
}
.g-item:first-child:hover {
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #171717;
}

.g-item img {
  width: 100%;
  max-width: 23.467rem;
  height: 23.467rem;
}
@media screen and (max-width: 1024px) {
  .tote-gallery {
    width: 100%;
    max-width: 64.533rem;
    height: 112.7rem;
    /* background-color: blue; */
  }

  .gallery-header {
    max-width: 64.33rem;
    height: 48.19rem;
  }
  .gallery-header img {
    max-width: 64.33rem;
    max-height: 48.19rem;
    transform: scaleY(1.34);
  }
}

@media screen and (max-width: 800px) {
  .tote-gallery {
    width: 100%;
    max-width: 73.6rem;
    height: 74.8rem;
  }

  .gallery-header {
    max-width: 73.4rem;
    height: 55rem;
  }
  .gallery-header img {
    margin-top: 3.8rem;
    max-width: 73.4rem;
    height: 55rem;
    transform: scaleY(1.53);
  }
  .gallery-items {
    max-width: 73.6rem;
    height: 17.2rem;
  }
  .gallery-items div.g-item {
    max-width: 17.2rem;
    height: 17.2rem;
  }
  .gallery-items div.g-item img {
    max-width: 17.2rem;
    height: 17.2rem;
  }
}
@media screen and (max-width: 450px) {
  .tote-gallery {
    max-width: 41.8rem;
    height: 43rem;
  }
  .gallery-header {
    max-width: 41.8rem;
    height: 31.3rem;
  }
  .gallery-header img {
    margin-top: 0;
    max-width: 41.8rem;
    height: 31.3rem;
    transform: scaleY(1.35);
  }
  .gallery-items {
    max-width: 41.8rem;
    height: 9.2rem;
  }
  .gallery-items div.g-item,
  .gallery-items div.g-item img {
    max-width: 9.2rem;
    height: 9.2rem;
  }
  /* // */
}
