header {
  width: 100%;
  max-width: 192rem;
  height: 8.1rem;
  padding: 0 20.8rem 0.1rem;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.header-container {
  display: flex;
  width: 100%;
  max-width: 150.4rem;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.header-container > div:first-child,
.header-container > nav,
.header-container > div:last-child {
  display: flex;
  align-items: center;
}

.header-container > div:first-child {
  width: 100%;
  max-width: 16.875rem;
  height: 3.4rem;
  justify-content: space-between;
}

.header-container > nav {
  width: 100%;
  max-width: 42.1rem;
  height: 2.6rem;
}

.header-container > div:last-child {
  width: 100%;
  max-width: 46.044rem;
  height: 4.2rem;
}

/* //inside containers */
.header-container > div:first-child img {
  width: 3.1175rem;
  height: 3.4rem;
  border-radius: 0.8rem;
  padding: 0.675rem 0.8rem 0.625rem 0.8rem;
}
.header-container > div:first-child img:hover,
.header-container > div:last-child nav a:nth-child(2) img:hover,
.header-container > div:last-child nav a:nth-child(3) img:first-child:hover {
  background: #fafafa;
}
.header-container > div:first-child a {
  width: 11.3rem;
  height: 3.2rem;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.8px;
  color: #171717;
  text-decoration: none;
}

/* nav container */
.header-container > nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-container > nav ul li a,
.header-container > div:last-child > a {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #404040;
  text-decoration: none;
}

.header-container > nav ul li a {
  width: 3rem;
  height: 2rem;
}

.header-container > nav ul li:nth-child(5) a {
  position: relative;
  bottom: 0.3rem;
  width: 3.1rem;
  height: 2.6rem;
  padding-bottom: 0.6rem;
  border-bottom: 0.2rem solid #171717;
  font-weight: 700;
}

/* input and others */
.header-container > div:last-child input {
  width: 100%;
  max-width: 22.4rem;
  height: 4.2rem;
  border-radius: 0.8rem;
  padding: 1.2rem 1.7rem 1.3rem 4.1rem;
  background: #fafafa;
  border: 0.1rem solid #e5e5e5;
}

.header-container > div:last-child input::placeholder {
  letter-spacing: 0.06rem;
}

.header-container > div:last-child > a {
  padding-left: 1.6rem;
}

.header-container > div:last-child nav {
  position: relative;
  width: 11.35rem;
  display: flex;
  align-items: center;
  height: 3.4rem;
  padding-left: 0.8rem;
}

.header-container > div:last-child nav a {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.header-container > div:last-child nav a:last-child {
  position: relative;
}

.header-container > div:last-child nav a:last-child img:last-child {
  position: absolute;
  bottom: 1rem;
  right: -1.2rem;
}

@media screen and (max-width: 1024px) {
  header {
    max-width: 102.4rem;
    padding: 0 2.1rem 0.1rem;
  }
  .header-container > div:first-child {
    max-width: 13.675rem;
  }
  .header-container > div:first-child h1 {
    font-size: 2.2rem;
  }
  .header-container > nav {
    width: 100%;
    max-width: 42.1rem;
    height: 2.6rem;
    padding-left: 8.8rem;
  }
  .header-container > div:last-child {
    padding-left: 2.1rem;
  }
  .header-container > div:last-child input {
    max-width: 15.7rem;
    padding: 0 0 0 0.7rem;
    margin-top: 0.5rem;
  }
  .header-container > div:last-child > a {
    padding-left: 1.8rem;
  }
}
@media screen and (max-width: 800px) {
  header {
    max-width: 80rem;
    padding: 0 3rem 0.1rem;
  }

  .header-container > div:last-child input {
    display: none;
  }
  .header-container > div:last-child a {
    display: none;
  }
  .header-container > nav {
    padding-left: 0;
    gap: 2rem;
  }
  .header-container > div:first-child {
    max-width: 16.8rem;
  }
  .header-container > div:first-child h1 {
    font-size: 2.4rem;
  }
  .header-container > div:last-child {
    max-width: 12.9rem;
    padding-left: 0;
  }
}
@media screen and (max-width: 750px) {
  .header-container > nav {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  header {
    max-width: 45rem;
    padding: 0 1.1rem 0.1rem 2rem;
  }
  .header-container {
    max-width: 45rem;
  }

  .header-container > nav {
    display: none;
  }
}
