.frame {
  width: 100%;
  max-width: 192rem;
  height: auto;
  background: linear-gradient(126.907deg, #f9fafb 0%, #f3f4f6 100%),
    linear-gradient(#ffffff, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 100%;
  max-width: 153.6rem;
  height: auto;
  font-family: "Inter", sans-serif;
  gap: 8rem;
  padding: 4.8rem 1.6rem 12.8rem;
  display: flex;
  flex-direction: column;
}
.breadcrumb li:last-child {
  margin-left: 0.8rem;
}
footer {
  margin-top: 5rem;
}
button {
  cursor: pointer;
}
.your-cart {
  width: 100%;
  height: auto;
  gap: 4.8rem;
  display: flex;
  flex-direction: column;
}
.cart-header {
  width: 100%;
  height: auto;
  gap: 2.4rem;
  display: flex;
  flex-direction: column;
}
.c-header {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.c-header h2 {
  color: #1a1a1a;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: 0.05rem;
}
.price {
  max-width: 7rem;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.price span {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #6b7280;
}
.price p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: #1a1a1a;
}
.cart-order {
  width: 100%;
  /* min-height: 67rem; */
  height: auto;
  gap: 6.4rem;
  display: flex;
  flex-direction: row;
  max-width: 150.4rem;
}
.cart-cards {
  height: auto;
  width: 100%;
  max-width: 98.1rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  min-width: 0;
}

.cart-item {
  width: 100%;
  min-height: 17.8rem;
  height: auto;
  border-radius: 1.6rem;
  padding: 3.3rem;
  background: #ffffff;
  border: 1px solid #f3f4f6;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 8%);
}
.item-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 91.5rem;
  height: auto;
}
.bag-item {
  width: 100%;
  max-width: 48.657rem;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  align-items: center;
}
.img-cont,
.img-cont img {
  width: 11.2rem;
  height: 11.2rem;
  border-radius: 1.2rem;
}
.img-cont div {
  overflow: hidden;
  border-radius: 1.2rem;
}
.img-cont {
  position: relative;
}
.img-cont img {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 6%);
}
.bag-item-desc {
  max-width: 16.1rem;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.bag-item-desc.purple {
  max-width: 22rem;
  height: auto;
}
.bag-item-desc h4 {
  font-size: 2rem;
  color: #1a1a1a;
  font-weight: 600;
  line-height: 2.8rem;
}
.bag-item-desc p {
  color: #6b7280;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.bag-item-desc span {
  color: #9ca3af;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: -0.55rem;
}
.tag {
  position: absolute;
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 999.9rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #ffffff;
  right: -0.8rem;
  top: -0.8rem;
  height: 2.4rem;
  z-index: 999;
}
.tag.bl {
  background: #1a1a1a;
  width: 4.2rem;
}
.tag.or {
  background: #f59e0b;
  width: 4.1rem;
}
.tag.pur {
  background: #a855f7;
  width: 6rem;
}
/* /// */
.quantity-cont {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  gap: 3.6rem;
  max-width: 42.875rem;
  padding-left: 0.6rem;
  flex-wrap: wrap;
}
.quantity-cont span {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #374151;
  min-width: 0;
}
.quantity-cont p {
  color: #1a1a1a;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8;
  min-width: 0;
}
.plus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 14.1rem;
  width: 100%;
  height: 4.2rem;
  padding: 0.9rem;
  border-radius: 1.2rem;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  background: #f9fafb;
}

.plus span,
.plus p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0 1rem;
  color: #737373;
}

.plus p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #171717;
}
.plus span {
  height: 100%;
}
.plus span:hover {
  background: #f3f4f6;
  cursor: pointer;
}
.can {
  width: 1.575rem;
  height: 2.1rem;
  background-image: url(../../images/svg/can.svg);
  background-repeat: no-repeat;
  padding: 0.675rem 0.8rem;
  cursor: pointer;
}
.can:hover {
  background-image: url(../../images/svg/can-red.svg);
}

.clear-bttn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 1.3rem;
}
.clear-bttn a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #1a1a1a;
  gap: 1.2rem;
}

.clear-bttn a img {
  width: 1.4rem;
  height: 1.6rem;
  padding-top: 0.2rem;
}
.clear-bttn a:hover {
  color: #4b5563;
  gap: 1.8rem;
}
.clear-bttn a img:hover {
  filter: brightness(0) saturate(100%) invert(35%) sepia(11%) saturate(448%)
    hue-rotate(176deg) brightness(92%) contrast(86%);
}
.clear-bttn button {
  background: none;
  border: none;
  color: #6b7280;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.037rem;
}
.clear-bttn button:hover {
  color: rgb(245, 90, 90);
  text-decoration: underline;
}
/* /// */
.order-summary {
  max-width: 45.8rem;
  width: 100%;
  height: auto;
}
.summary-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 62.3rem;
  border-radius: 2.4rem;
  padding: 3.3rem;
  gap: 3.2rem;
  background: rgba(255, 255, 255, 80%);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 8%);
}
.summary-cont h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #1a1a1a;
  letter-spacing: 0.05rem;
}
.order-total {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.subtotal,
.ord-total {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.subtotal p {
  color: #4b5563;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.subtotal p:first-child {
  font-weight: 400;
}
.subtotal p:last-child {
  font-weight: 500;
}
.line {
  width: 100%;
  border-top: 1px solid #e5e7eb;
}
.ord-total p {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #1a1a1a;
}
.coupon {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.coupon p {
  color: #374151;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
}
.input-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.input-cont input {
  height: 4.6rem;
  width: 100%;
  max-width: 30.6rem;
  border-radius: 1.2rem 0 0 1.2rem;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  padding: 1.4rem 1.7rem 1.5rem;
}
.input-cont input::placeholder {
  color: #9ca3af;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.input-cont button {
  background: #1a1a1a;
  width: 100%;
  max-width: 8.6rem;
  height: 4.6rem;
  padding: 1.25rem 2.4rem 1.35rem;
  border-radius: 0 1.2rem 1.2rem 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff;
}
.input-cont button:hover,
.checkout-bttn:hover {
  background: #1f2937;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 6%);
}
.checkout-bttn {
  background: #1a1a1a;
  width: 100%;
  height: 5.6rem;
  border-radius: 1.2rem;
  padding: 1.6rem 0 1.6;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 6%);
}
.checkout-bttn a {
  letter-spacing: 0.05rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #ffffff;
  text-decoration: none;
}
.credit {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}
.credit p {
  font-size: 1.4rem;
  color: #6b7280;
  font-weight: 400;
  line-height: 2rem;
}
.banks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.banks div {
  width: 3.375rem;
  height: 2.625rem;
  background-repeat: no-repeat;
  cursor: pointer;
}
.visa {
  background-image: url(../../images/img/cart/banks/visa.svg);
}
.visa:hover {
  background-image: url(../../images/img/cart/banks/hvisa.svg);
}
.mast {
  background-image: url(../../images/img/cart/banks/mast.svg);
}
.mast:hover {
  background-image: url(../../images/img/cart/banks/hmast.svg);
}
.ppal {
  background-image: url(../../images/img/cart/banks/paypal.svg);
}
.ppal:hover {
  background-image: url(../../images/img/cart/banks/hpaypal.svg);
}
.amex {
  background-image: url(../../images/img/cart/banks/amex.svg);
}
.amex:hover {
  background-image: url(../../images/img/cart/banks/hamex.svg);
}
/* /// 
*/
.build-bag {
  width: 100%;
  min-height: 131.4rem;
  max-width: 150.4rem;
  border-radius: 2.4rem;
  padding: 8.1rem 0.1rem;
  background: linear-gradient(90deg, #f9fafb 0%, #ffffff 100%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 6%);
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}
.build-header {
  height: auto;
}

.build-content {
  width: 100%;
  max-width: 150.4rem;
  min-height: 97.6rem;
  padding: 0 3.2rem;
  gap: 4.8rem;
  display: flex;
  flex-direction: row;
}
.build-img {
  height: auto;
}
.preview {
  position: absolute;
  background: #ffffffe5;
  backdrop-filter: blur(4px);
  max-width: 11.7rem;
  max-height: 3.6rem;
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  top: 0.8rem 1.6rem;
  color: #1a1a1a;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2.4rem;
  left: 2.3rem;
}
.build-img > div {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 6%);
  position: relative;
}
.style-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  height: 4.8rem;
}
.style-buttons button {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: #171717;
  letter-spacing: 0.07rem;
}
.style-buttons button:hover {
  border: 1px solid #171717;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 10%),
    0px 2px 4px -2px rgba(0, 0, 0, 10%);
}
button.black-btn {
  background: #171717;
  border: 2px solid #171717;
  color: #ffffff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 10%),
    0px 4px 6px -4px rgba(0, 0, 0, 10%);
}
button.black-btn:hover {
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 10%),
    0px 8px 10px -6px rgba(0, 0, 0, 10%);
  border: none;
  background: linear-gradient(90deg, #262626 0%, #404040 100%);
}
.filter > div {
  border-radius: 1.6rem;
  padding: 2.5rem;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 6%);
}
.filter > div h2 {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.color-palette.fill {
  height: 4.8rem;
}
.color-palette.fill div {
  height: 4.8rem;
  width: 4.8rem;
}
.color-palette.fill .bll {
  background: #111827;
  border: 1px solid #000000;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #000000,
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.color-palette.fill .grr {
  background: #a3a3a3;
}
.whh {
  background: #f3f4f6;
}
.grr {
  background: #9ca3af;
}
.dgr {
  background: #4b5563;
}

.fil-inputs {
  width: 100%;
  gap: 1.2rem;
}

.fil-inputs div {
  display: flex;
  height: 7.4rem;
}
.fil-inputs div:first-child:hover {
  border: 1px solid #1a1a1a;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 10%),
    0px 2px 4px -2px rgba(0, 0, 0, 10%);
}
.fil-inputs div:last-child {
  border: 2px solid #1a1a1a;
  background: #1a1a1a0d;
}
.fil-inputs div:last-child input {
  background-color: #0075ff;
}
.bag-buttons button,
.fil-bttn button {
  width: 100%;
  height: 6.4rem;
  display: flex;
  flex-direction: center;
  justify-content: center;
  border-radius: 1.2rem;
  background: linear-gradient(90deg, #171717 0%, #262626 100%);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 10%),
    0px 4px 6px -4px rgba(0, 0, 0, 10%);
  border: none;
}

.fil-bttn button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.8rem;
  gap: 1.4rem;
  letter-spacing: 0.1rem;
}

.fil-bttn button {
  height: 5.6rem;
}
.fil-bttn button a img {
  width: 1.785rem;
  height: 1.6rem;
  gap: 0;
}

.fil-bttn button:hover {
  background: #262626;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 10%),
    0px 8px 10px -6px rgba(0, 0, 0, 10%);
}
.filter > div.fil-bttn {
  border-top: none;
}
/* // */

@media screen and (max-width: 1024px) {
  footer {
    margin-top: 2.3rem;
  }
  .your-cart {
    padding-top: 2.5rem;
  }
  .cart-header {
    padding: 0 2.2rem;
  }
  .order-summary {
    max-width: 28.8rem;
  }
  .bag-item {
    max-width: 14.525rem;
  }
  .img-cont {
    width: 5rem;
    height: 11.2rem;
  }
  .img-cont.narrow {
    width: 4rem;
  }
  .img-cont img {
    width: 5rem;
    height: 11.2rem;
    transform: scaleX(2);
  }

  .build-bag {
    max-width: 99.6rem;
    margin-top: -0.3rem;
  }
  .build-img,
  .build-img div img {
    max-width: 60.1rem;
  }
  .build-img div,
  .build-img div img {
    height: 45rem;
  }
  .filter {
    max-width: 27.6rem;
  }
  .input-cont button {
    max-width: 6.4rem;
    padding: 0;
    text-align: center;
  }
  .cart-item {
    padding: 3rem;
  }
  .cart-cards {
    gap: 3.7rem;
  }
  .filter > div.fil-bttn {
    padding-top: 4rem;
    gap: 3.2rem;
  }
}

@media screen and (max-width: 800px) {
  main {
    align-items: center;
  }
  .your-cart {
    padding-top: 0;
  }
  .cart-order {
    flex-direction: column;
    padding: 0 2.5rem;
  }
  .order-summary {
    max-width: 72rem;
  }
  .bag-item {
    max-width: 22.525rem;
  }
  .bag-item.tot {
    gap: 2rem;
  }
  .img-cont,
  .img-cont img,
  .img-cont.narrow {
    width: 8.9rem;
    height: 11.2rem;
  }
  .bag-item.tot .img-cont,
  .bag-item.tot .img-cont img {
    width: 8.1rem;
  }
  .img-cont img {
    transform: scaleX(1.3);
  }
  .cart-cards {
    gap: 3.5rem;
  }

  .input-cont input {
    max-width: 56.8rem;
  }
  .input-cont button {
    max-width: 8.6rem;
  }
  /* // */
  .build-bag {
    max-width: 71.8rem;
    padding-top: 8.5rem;
  }
  .build-content {
    flex-direction: column;
    justify-content: center;
  }
  .build-img,
  .build-img div img {
    max-width: 65.4rem;
  }
  .build-img div,
  .build-img div img {
    height: 50.25rem;
  }
  .filter {
    max-width: 65.4rem;
  }
  .fil-inputs {
    max-width: 60.4rem;
  }
  .quantity-cont {
    flex-wrap: nowrap;
  }
  .filter > div.fil-bttn {
    padding-top: 3rem;
    gap: 2.2rem;
  }
  footer {
    margin-top: 4.9rem;
  }
}

@media screen and (max-width: 750px) {
  .quantity-cont {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 450px) {
  main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .order-summary {
    margin-top: 0.5rem;
  }
  .img-cont.narrow {
    width: 0;
  }
  .cart-header {
    padding: 0;
  }
  .cart-order {
    padding: 0;
  }
  .bag-item.tot .img-cont,
  .img-cont {
    width: 0;
    margin-right: -1rem;
  }
  .img-cont img {
    display: none;
  }
  .tag {
    right: -20rem;
    top: -4rem;
  }
  .bag-item.tot .bag-item-desc,
  .bag-item-desc {
    max-width: 8.2rem;
  }
  .bag-item {
    max-width: 14.525rem;
  }
  .build-header > h2 {
    font-size: 3.5rem;
  }
  .quantity-cont > p {
    display: none;
  }
  .build-bag {
    gap: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .build-content {
    align-items: center;
    padding: 2rem;
  }
  .build-img,
  .build-img div img {
    max-width: 35.2rem;
  }
  .build-img div,
  .build-img div img {
    height: 26.4rem;
  }
  .filter {
    max-width: 35.2rem;
  }
  footer {
    margin-top: 3rem;
  }
}
