.frame {
  width: 100%;
  max-width: 192rem;
  height: auto;
  background: linear-gradient(145.327deg, #fafafa 0%, #ffffff 100%),
    linear-gradient(#ffffff, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 148.8rem;
  height: auto;
  margin: 6.4rem 0 6.4rem;
  gap: 6.4rem;
  display: flex;
  flex-direction: row;
  position: relative;
}
button {
  cursor: pointer;
}

/* left section ceckout */
.checkout {
  width: 100%;
  max-width: 71.2rem;
  min-height: 125.8rem;
  padding-right: 4.8rem;
  gap: 4rem;
  display: flex;
  flex-direction: column;
}
/* all cheeckout components */
.checkout > div {
  width: 100%;
  height: auto;
  display: flex;
}
.checkout h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #171717;
  letter-spacing: 0.01rem;
}
/* 1 */
.checkout-header {
  gap: 1.2rem;
  flex-direction: column;
}
.checkout-header h2 {
  background: linear-gradient(90deg, #262626 0%, #525252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4rem;
  letter-spacing: 0.1rem;
}
.checkout-header p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #525252;
  letter-spacing: 0.005rem;
}
/* 2 */
.contact-info {
  flex-direction: column;
  gap: 2.4rem;
}

.cont-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.4rem;
}
.cont-info > div {
  background: linear-gradient(144.736deg, #1f2937 0%, #374151 100%);
  border-radius: 999.9rem;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  color: #ffffff;
}

/* * */
.cont-log {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0.9rem;
  gap: 1rem;
}
.cont-log p,
.cont-log button {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #525252;
}
.cont-log button {
  background: none;
  border: none;
  color: #171717;
}
.cont-log button:hover {
  text-decoration: underline;
}
/* * */
.cont-mail {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
.cont-mail p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: #404040;
}
label {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  color: #404040;
}
input.shared {
  width: 100%;
  height: 4.6rem;
  border-radius: 1.2rem;
  padding: 1.4rem 1.7rem 1.5rem;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 5%);
}
input.shared::placeholder {
  color: #9ca3af;
  font-size: 1.4rem;
  font-weight: 400;
}
input.shared.country::placeholder {
  color: #171717;
}
/* 3 */
.shipping-address {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.cont-info.gray-c div {
  background: #e5e5e5;
  color: #525252;
}
.address-inputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}
.input-cont-shared {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.input-container p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: #404040;
}
/* 4 */
.payment {
  width: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2.4rem;
}
.trans {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}
.trans img {
  width: 1.4rem;
  height: 1.4rem;
}
.trans p {
  color: #525252;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
.credit-card {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 8%);
  border-radius: 1.6rem;
  padding: 2.5rem;
  gap: 2.4rem;
  display: flex;
  flex-direction: column;
}
.cards-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.card-name {
  width: 100%;
  max-width: 12.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
}
.checked {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #0075ff;
  background: radial-gradient(
    circle,
    #0075ff 40%,
    #ffffff 40%,
    #ffffff 70%,
    #0075ff 70%
  );
}
.card-name p {
  color: #171717;
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.1rem;
}
.payment-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.payment-inputs input.shared {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.payment-inputs > div {
  display: flex;
  width: 100%;
  gap: 2rem;
}
/* ///// */
.order-summary {
  position: sticky;
  top: 0;
  max-width: 71.2rem;
  width: 100%;
  height: 86.85rem;
  border-radius: 2.4rem;
  padding: 3.3rem 3.3rem 9.7rem;
  gap: 3.2rem;
  background: #ffffff;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 8%);
  display: flex;
  flex-direction: column;
}
/* 1 */
.check {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.4rem;
  letter-spacing: 0.01rem;
}
.check img {
  width: 1.8rem;
  height: 2.4rem;
}
.check h2 {
  color: #171717;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
}
/* 2 */
.custom-bag {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 3.3rem;
  border-bottom: 1px solid #e5e5e5;
}
.custom-img {
  width: 11.2rem;
  height: 11.2rem;
  background: linear-gradient(144.736deg, #f5f5f5 0%, #e5e5e5 100%);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 5%);
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-img img {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 1.2rem;
  max-width: 11.2rem;
}
.custom-desc {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  max-width: 45.2rem;
  width: 100%;
  min-width: 0;
}
.custom-desc p {
  color: #171717;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  margin-bottom: 0.9rem;
  letter-spacing: 0.03rem;
}
.custom-desc span {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #525252;
  margin-bottom: 0.28rem;
}
.custom-bag > p {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #171717;
  letter-spacing: 0.02rem;
}
/* 3 */
.design {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2.4rem;
}
.finalize-design {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.finalize-design img {
  width: 1.8rem;
  height: 1.8rem;
}
.finalize-design h3 {
  color: #171717;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.palette-inputs {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}
.palette-inputs p {
  color: #262626;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}
.color-selection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.color-palette {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.2rem;
}
.color-palette > div {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 999.9rem;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 10%),
    0px 2px 4px -2px rgba(0, 0, 0, 10%);
}
.color-palette .black {
  background: #171717;
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 6px #171717,
    0px 10px 15px -3px rgba(0, 0, 0, 10%), 0px 4px 6px -4px rgba(0, 0, 0, 10%);
}
.white {
  border: 2px solid #d4d4d4;
  background: #f5f5f5;
}
.orange {
  background: #d97706;
}
.green {
  background: #059669;
}
/* * */
.add-on {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.add-on span {
  color: #737373;
}
.add-on-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.add-on-item {
  width: 100%;
  height: 7.45rem;
  border-radius: 1.2rem;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  padding: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-on-item:hover {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 10%),
    0px 2px 4px -2px rgba(0, 0, 0, 10%);
}
.add-on-item.blue-it {
  border: 2px solid #d1d5db;
}

.add-on-item input {
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  background: #ffffff;
  border: 1px solid #767676;
}
.add-on-item.blue-it input {
  background-color: #0075ff;
}
.add-on-desc {
  width: 100%;
  max-width: 56.7rem;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  align-items: flex-start;
  gap: 0.6rem;
}

.add-on-desc span {
  font-size: 1.2rem;
  font-weight: 400;
  color: #737373;
}
/**/
.summary-button {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.summary-button button {
  background: #e5e5e5;
  text-align: center;
  max-width: 8.7rem;
  width: 100%;
  height: 4.6rem;
  border-radius: 1.2rem;
  padding: 1.25rem 2.4rem 1.35rem;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 5%);
  font-size: 1.4rem;
  font-weight: 500;
  color: #262626;
  border: none;
}
.summary-button button:hover {
  background-color: #d4d4d4;
}

@media screen and (max-width: 1024px) {
  .order-summary {
    max-width: 45.6rem;
    position: static;
  }
  main {
    padding: 4rem 2.4rem 0;
    margin-bottom: 2.2rem;
  }
  .custom-bag {
    align-items: flex-start;
    justify-content: center;
  }
  .custom-desc {
    max-width: 17.6rem;
    margin-right: 2rem;
  }
  .add-on-desc {
    padding-left: 1rem;
    gap: 0.65rem;
  }
}
@media screen and (max-width: 950px) {
  main {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  main {
    padding: 0 4rem 0;
    margin-bottom: 6.2rem;
  }
  .checkout {
    padding-right: 0;
    max-width: 72rem;
  }
  .order-summary {
    max-width: 72rem;
    height: auto;
  }
  .custom-bag {
    flex-direction: row;
    align-items: flex-start;
    max-width: 66.6rem;
  }
  .custom-desc {
    max-width: 45.2rem;
    margin-right: 0;
    padding-left: 1.3rem;
  }
  .add-on-desc {
    padding-left: 0.2rem;
    gap: 0.65rem;
  }
}

@media screen and (max-width: 450px) {
  main {
    padding: 0 2.2rem 4.2rem;
    margin-bottom: 2.2rem;
    flex-direction: column;
  }
  .input-cont-shared {
    flex-direction: column;
  }
  .credit-card {
    max-width: 40rem;
  }
  .custom-bag {
    gap: 1rem;
  }
  .custom-desc {
    height: 19.2rem;
    max-width: 12.2rem;
    padding-left: 1rem;
  }
  .add-on-desc {
    padding-left: 1.2rem;
  }
  .order-summary {
    min-height: 94.8rem;
  }
}

@media screen and (max-width: 400px) {
  .custom-bag {
    flex-direction: column;
  }
  .add-on-item {
    height: 10rem;
  }
}
